/* variáveis */
:root {
    --color1: #ffffff;
    --color2: #222;
    --color3: #eee;
    --transition: .5s;
}

/* Reset da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}